/* stylesheet.css */
@font-face {
	font-family: "Monaco";
	src: url("./assets/monaco.ttf") format("truetype");
}

/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */
body {
	overflow: hidden;
	font-family: "Monaco";
	background: url("./assets/desert-background.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* background-attachment: fixed; */
	background-attachment: scroll;
}

/* Centered panel with links */
.center-panel {
	display: grid;
	place-items: center; /* Center content both horizontally and vertically */
	height: 100vh;
	padding: 3rem;
}

.links {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	color: white;
	font-size: 2.5rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	padding: 2.2rem;
	display: flex;
	flex-direction: column; /* Stack links vertically */
	align-items: flex-start; /* Align links to the start of the column */
}

.link {
	position: relative;
	text-decoration: none;
	/* display: inline-block; Display as inline block to allow for pseudo-element */
	/* margin-bottom: 0.2rem; */
	color: white;

	display: flex; /* Change display to flex for better centering */
	align-items: center; /* Center items vertically */
	margin-bottom: 0.5rem; /* Increase margin for better spacing */
}

.link::before {
	content: "▶ ";
	font-size: 2.1rem;
	position: absolute;
	left: -2.7rem;
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
}

.link:hover::before {
	content: "▶ ";
	font-size: 2.1rem;
	opacity: 1;
	transform: translateX(0.5rem);
}

.link:visited {
	color: white;
}

.link:hover {
	color: #4b1c21;
}

.modal {
	position: fixed;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: fit-content; /* Set the width to fit the content (canvas) */
	height: fit-content; /* Set the height to fit the content (canvas) */
}

#gameCanvas {
	display: block;
	margin: 0 auto;
	border: 1px solid #ccc;
	background-color: #fff;
	box-sizing: content-box; /* Ensure the border size is not included in the canvas dimensions */
}

.close {
	color: #666;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

.close:hover {
	color: #4b1c21;
}

/* Media Query for Tablets (portrait and landscape) */
@media only screen and (max-width: 768px) {
	.links {
		font-size: 2rem; /* Further decrease font size for tablets */
	}

	.modal-content {
		max-height: 70vh; /* Adjust max height for tablets */
	}
}

/* Media Query for Phones */
@media only screen and (max-width: 480px) {
	.links {
		font-size: 1.5rem; /* Decrease font size for phones */
		padding: 1.5rem; /* Adjust padding for phones */
	}

	.modal-content {
		max-height: 60vh; /* Adjust max height for phones */
	}

	.close {
		font-size: 20px; /* Further decrease font size for phones */
		padding: 3px; /* Adjust padding for close button on phones */
	}
}
