html,
body {
    height: 100%;
}

body {
    background: url('https://64.media.tumblr.com/dbf87b843616c630e4afb84a516c5b94/2e4e6eac3d1562b3-8e/s2048x3072/cc2128ae9747a29bae0ebe724262fd47c479e9bb.gif') #000000 fixed center 0;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 12px;
    line-height: 160%;
}

a {
    color: inherit;
}

a img {
    border: none;
}

header {
    position: relative;
    width: 1040px;
    margin: 50px auto 25px auto;
    text-align: center;
}

header a {
    text-decoration: none;
}

header img {
    max-width: 100%;
}


header p {
    margin: 5px 0;
}