@font-face {
    font-family: "Monaco";
    src: url("./monaco.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden; 
    font-family: "Monaco";
    color: #ffffff;
    line-height: 250%;
}

.background-container {
    height: 100%;
    background: url('./background.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.background-container span {
    position: absolute;
    padding: 30px;
    text-align: left;
}

.background-container span p {
    font-size: 50px;
    text-transform: uppercase;
}

.background-container span a {
    color: inherit;
    text-decoration: none;
}

.background-container span a:hover {
    color: red;
}